<?xml version="1.0"?>
<launch>
  <arg name="serverIP" default="192.168.2.101" />
  <arg name="clientIP" default="192.168.2.102" />
  <arg name="multicastAddress" default="224.0.0.1" />

  <arg name="pub_rigid_body" default="true" />
  <arg name="pub_rigid_body_marker" default="false" />
  <arg name="pub_individual_marker" default="false" />
  <arg name="pub_pointcloud" default="false" />

  <include file="$(find natnet_ros_cpp)/launch/natnet_ros.launch" pass_all_args="true" />
  <node name="optitrack_state_estimator" type="state_estimator.py" pkg="airlab_optitrack_ros" output="screen"/>
</launch>
